.statisticssubcard-container {
  display: flex;
  flex-wrap: wrap;
}
.ii-ui-statisticssubcard {
  min-width: auto;
  background: #e5f7ec;
  width: calc((100% - 40px) / 3);
}
.ii-ui-statisticssubcard + .ii-ui-statisticssubcard {
  margin-left: 20px;
}
.statisticssubcard-title {
  color: rgb(70, 52, 231);
}
.statisticssubcard-icon {
  color: #a5e3f0;
  font-size: 14px;
}
.green-bg {
  background:rgba(147, 229, 147, 0.3);
}
.red-bg {
  background: rgba(224, 116, 116, 0.2);
}
.statisticssubcard-icon {
  color: #1ab857;
  background: rgba(26, 184, 87, 0.15);
}
.statisticssubcard-value {
  color: #1ab857;
}
.statisticssubcard-unit {
  color: blue;
}
