@import '../i-style/color/index.less';

.ant-empty {
  .ant-empty-image {
    margin-bottom: 6px;
  }
  .ant-empty-description {
    font-size: 18px;
    font-weight: 300;
    color: fade(@text-color, 60%);
  }
}
