@ii-font-size-base: 13px;
@ii-info-color-2: rgba(@ii-info-color, 0.2);
@ii-info-color-8: rgba(@ii-info-color, 0.8);
@default-color: #ffffff;
@border-radius-4: 4px;
@opacity-4: 0.4;

/* ibutton变量 */
@button-padding: 0 19px;
@button-height: 36px;
@font-color: #5c6f88;
@icon-size: 16px;
