// antd样式
@font-size-base: 13px;
@border-width-base: 1px;

// ii 组件自有样式
@ii-font-size-base: 13px;
@ii-font-weight: 400;

// ii-tags-group
@ii-tag-color: #8597a8;
@ii-tag-border-radius: 5px;
@ii-tag-border-style: dashed;
@ii-tag-line-height: 22px;
@ii-tag-input-width: 78px;
@ii-tag-gutter: 8px;
