@import '../../styles/var.less';

.ii-tags-group-container {
  .ii-tags-group-plus {
    background: #fff;
    border: 1px dashed @border-color;
    border-radius: 5px;
    color: @primary-color;
    font-size: 13px;
    font-weight: 400;
  }
  .ii-tags-group-edit {
    color: @tag-color;
    background-color: @tag-bg-color;
    user-select: none;
    line-height: 22px;
    font-size: 13px;
    border: none;
  }
  .ii-tags-group-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
  }
}
