// @import '~antd/lib/style/color/colors.less';

@primary-color: #0085ff;
@text-color: #334355;

@ii-success-color: #2dd17c;
@ii-info-color: #0085ff;
@ii-warning-color: #ff9d00;
@ii-error-color: #ff493d;
@ii-border-color: #d9e0e8;
@ii-tag-color: #8597a8;
